<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <p id="intro">  She has many famous works but the most famous were Harry Potter, and those are the first four famous parts! </p>
    <article>
        <h3>Harry Potter and the Philosopher's Stone</h3>
        <img src="/images/HP1.png" alt="harry potter">
        
    </article>

    <article>
        <h3>Harry Potter and the Chamber of Secrets</h3>
        <img src="/images/HP2.png" alt="harry potter">
       
    </article>

    <article>
        <h3>Harry Potter and the Prisoner of Azkaban</h3>
        <img src="/images/HP3.png" alt="harry potter">
        
    </article>

    <article>
        <h3>Harry Potter and the Goblet of Fire</h3>
        <img src="/images/HP4.png" alt="harry potter">
        
    </article>
    
</body>
</html>

